extends ../layout

block content  
    link(rel="stylesheet", href="/css/detail.css")
    article 
        h2= item.p_name 
        div.detail
          div.img
              img(src="", alt="사진오케이이")
          div.li
              div 
                  strong 상품코드 
                  span= item.p_code
                  strong 상품이름
                  span= item.p_name
              div 
                  strong 품목
                  span= item.p_item 
                  strong 규격
                  span= item.p_std
              div 
                  strong 매입단가
                  span= item.p_iprice
                  strong 매출단가
                  span= item.p_oprice
    div.p
        p 김선아네이션의 과자
    div.btn(data-p_code=`${item.p_code}`)
        button.update(data-isbn= `${item.p_code}`) 수정
        button.delete(data-isbn= `${item.p_code}`) 삭제

