extends ../layout

block content

    div
        strong 
        span= B.isbn
    div
        strong 도서명
        span= B.title

     div
        strong 저자
        span= B.author
    div
        strong 출판사
        span= B.publisher
    div
        strong 가격
        span= B.price
    div
        strong 할인가액
        span= B.discount
    div
        strong 요약
        span= B.description
     div
        strong 출판일
        span= B.pubdate
     div
        strong 네이버링크
        span= B.link
     div
        strong 이미지링크
        span= B.image


