extends ../layout
block content 
    link(rel="stylesheet", href="/css/detail.css")
    script(src="/js/product/detail.js")
    div.all 
        h2 #{PRODUCT.p_name}
        div.section
            div.img
                img(src="/document/image_icon.jpg", alt="")
            div.listbox
                div.box
                    div.ele
                        strong 상품코드  
                        span= PRODUCT.p_code
                    div.ele
                        strong 상품이름  
                        span= PRODUCT.p_name
                div.box
                    div.ele
                        strong 품목 
                        span= PRODUCT.p_item
                    div.ele
                        strong 규격 
                        span= PRODUCT.p_std
                div.box
                    div.ele
                        strong 매입단가 
                        span= PRODUCT.p_iprice
                    div.ele
                        strong 매출단가 
                        span= PRODUCT.p_oprice
        div.section2
            div.text
        
        div.btn_box
            button.edit 수정
            button.delete 삭제